.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 15rem;
  box-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.486);

  @media (max-width: 1313px) {
    width: 100%;
    height: 50vw;
    box-shadow: none;

  }

  .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 1313px) {
      object-fit: contain;
    }
  }

}