.page-container {
  width: 100%;
  background-color: black;

  display: flex;

  .page-hero-image-container {
    width: 100%;
    height: 90vh;
    position: sticky;
    top: 4rem;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 1313px) {
      display: none;
    }

    .page-hero-image {
      width: 100%;
      height: 100%;
      object-fit: contain;

      animation-name: page-image-fade;
      animation-timing-function: ease-in-out;
      animation-duration: 1s;

      @keyframes page-image-fade {
        0% {
          opacity: 0;
        }

        17% {
          opacity: 0.2;
        }

        25% {
          opacity: 0.3;
        }

        50% {
          opacity: 0.4;
        }

        60% {
          opacity: 0.5;
        }

        70% {
          opacity: 0.6;
        }

        80% {
          opacity: 0.7;
        }

        90% {
          opacity: 0.85;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  .album-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    gap: 20px;
    background-color: rgb(19, 19, 19);
    height: auto;
    padding: 35px;
    border-left: 1px solid rgb(107, 88, 126);

    @media (max-width: 1313px) {
      width: 100%;
      height: 100%;
      border-left: 0px solid rgb(107, 88, 126);
      background-color: black;
    }
  }

}