.album-preview-item {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  margin: 5rem;
  border-radius: 3px;

  box-shadow: 2px 2px 3px 3px white;

  @media (max-width: 1313px) {
    margin: 1rem;
  }

  .cover-container {
    position: relative;

    width: 100%;
    height: 85%;

    .cover-image {
      position: absolute;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .album-title {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 250px;
    height: 100px;

    font-size: 50px;
    line-height: 55px;
  }
}